/**
 * src/styles/settings.scss
 *
 * Configures SASS variables and Vuetify overwrites
 */

// https://next.vuetifyjs.com/features/sass-variables/`
// @use 'vuetify' with (
//   $color-pack: false
// );
.container {
    background: linear-gradient(to bottom right, rgb(22, 155, 178), rgb(3, 5, 35));
    display: flex;
    flex-wrap: wrap;

    .cats {
        margin: 4px;
        display: flex;
        img {
            max-width: 450px;

        }
    }


}

.about {
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    width: 100%;

    .items-about {
        max-width: 70%;

        img {
            max-width: 370px;
        }

    }
}